/* .nav {
    background-color: rgb(244, 212, 212);
} */

.nav {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.navContent {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1300px;
    margin: 0 auto;
    padding: 4px 24px;
}

.menu {
    display: none;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo{
    font-family: 'Teko', sans-serif;
    font-size: 26px;
    color: black;
}

.logoDots {
    color: #0081C9;
    font-size: 48px;
    line-height: 50%;
}

.ul li{
    list-style-type: none;
    display: inline;
    padding: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #6c6d6d;
}

.ul li:hover{
    color: blue;
}

.sidebar {
    position: absolute;
    height: 100vh;
    background-color: #eff8fb;
    z-index: 98;
    padding: 28px 0;
}

.sidebar ul {
    list-style-type: none;
    width: 100%;
}
.sidebar ul li {
    padding: 12px 60px 12px 12px;
    margin: 12px 8px 12px 18px;
}

.sidebar ul li:hover {
    cursor: pointer;
    background-color: #ddedf3;
}

.isMenuHidden {
    display: none;
}

@media only screen and (max-width: 650px) {
    .navContent {
        align-items: center;
    }

    .menu {
        display: block;
        margin-right: 18px;
    }

    .menu:hover {
        cursor: pointer;
        background-color: rgba(213, 234, 247, 0.366);
    }

    .ul {
        display: none;
    }
}